<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
</head>
<body class="bg-dark">
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<h1 class="bg-secondary" >STUDENT LISTS</h1>
<form method="POST"> {% csrf_token%}
	{{form.as_p}}
	<button type="submit"> <td> <a href="/student/view/{{student.pk}}"{{student.pk}}>STUDENTBTN</a></td></button>

<table table class="table table-striped table bordered">
<tr>
<th class="bg-success">First_name </th>
<th class="bg-success">Last_name </th>
<th class="bg-success">Registration_number</th>
<th class="bg-success">Gender</th>
<th class="bg-success">Email</th>
<th class="bg-success">Date_joined</th>
<th class="bg-success">Details</th>
<th class="bg-success">Edit</th>


</tr>

{%for student in students%}
<tr>
	<td class="bg-danger">{{student.First_name }}</td>
	<td class="bg-danger">{{student.Last_name }}</td>
	<td class="bg-danger">{{student.Registration_number }}</td>
    <td class="bg-danger">{{student.Gender}}</td>
	<td class="bg-danger">{{student.Email}}</td>
	<td class="bg-danger">{{student.Date_joined}}</td>
	



<!-- <td> <a href="/student/view/{{student.pk}}"{{student.pk}}>view more</a></td>
<student.objects.get(pk = 5)>
<td><a href="/student/edit/{{student.pk}}"{{student.pk}}>edit</a></td>
 -->
<td> <a href="/student/edit/{{student.pk}}"{{student.pk}}>Edit</a></td>
<student.objects.get(pk = 5)>
<td><a href="/student/view/{{student.pk}}"{{student.pk}}>View More</a></td>



</tr>
{% endfor %}
</table>
</body>
</html>